table {
    margin: 0 -20px;
    border-bottom: 1px solid var(--theme-border);
    border-top: 1px solid var(--theme-main-03);
}

thead {
    font-weight: bold;
    color: var(--theme-main);
    background-color: var(--theme-main-01);
    border-top: 1px solid var(--theme-main-03);
    border-bottom: 1px solid var(--theme-main-03);
}

td {
    padding: 10px 5px;
    vertical-align: middle;
}

td:first-child {
    padding-left: 20px;
}

td:last-child {
    padding-right: 20px;
}

tr:nth-child(odd) {
    background-color: var(--theme-main-0-5);
}

.new-row-header {
    /* background-color: rgba(145, 112, 112, 0.342); */
    color: white;
    background-color: var(--theme-green);
    box-shadow: inset 0 0 0 1px var(--theme-border);
}

.new-row-form td {
    padding: 0;
}

.new-row-form td + td {
    border-left: 1px dashed var(--theme-border);
}

.new-row-form input {
    font-size: var(--text-lg);
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    padding: 20px 5px;
    margin: 0;
}

td:first-child input {
    padding-left: 20px;
}

td:last-child input {
    padding-right: 20px;
}
