:root {
    --header-height: 50px;
    --sidebar-width: 240px;
    --sidebar-sm: 50px;

    --theme-main: #436c8e;
    --theme-main-0-5: rgba(67, 108, 142, 0.05);
    --theme-main-01: rgba(67, 108, 142, 0.1);
    --theme-main-02: rgba(67, 108, 142, 0.2);
    --theme-main-03: rgba(67, 108, 142, 0.3);
    --theme-main-04: rgba(67, 108, 142, 0.4);
    --theme-main-05: rgba(67, 108, 142, 0.5);
    --theme-main-06: rgba(67, 108, 142, 0.6);
    --theme-main-07: rgba(67, 108, 142, 0.7);
    --theme-main-08: rgba(67, 108, 142, 0.8);
    --theme-main-09: rgba(67, 108, 142, 0.9);

    --theme-carolina: #4B9CD3;
    --theme-carolina-09: rgba(75, 156, 211, 0.9);
    --theme-carolina-08: rgba(75, 156, 211, 0.8);
    --theme-carolina-07: rgba(75, 156, 211, 0.7);
    --theme-carolina-06: rgba(75, 156, 211, 0.6);
    --theme-carolina-05: rgba(75, 156, 211, 0.5);
    --theme-carolina-04: rgba(75, 156, 211, 0.4);
    --theme-carolina-03: rgba(75, 156, 211, 0.3);
    --theme-carolina-02: rgba(75, 156, 211, 0.2);
    --theme-carolina-01: rgba(75, 156, 211, 0.1);
    --theme-carolina-0-5: rgba(75, 156, 211, 0.05);

    --theme-light-gray: #ecf0f3;
    --theme-red: #e64e4e;
    --theme-green: #abcf57;
    --theme-yellow: #ffcc40;

    --theme-black-0-5: rgba(0, 0, 0, 0.05);
    --theme-black-01: rgba(0, 0, 0, 0.1);
    --theme-black-02: rgba(0, 0, 0, 0.2);
    --theme-black-03: rgba(0, 0, 0, 0.3);
    --theme-black-04: rgba(0, 0, 0, 0.4);
    --theme-black-05: rgba(0, 0, 0, 0.5);
    --theme-black-06: rgba(0, 0, 0, 0.6);
    --theme-black-07: rgba(0, 0, 0, 0.7);
    --theme-black-08: rgba(0, 0, 0, 0.8);
    --theme-black-09: rgba(0, 0, 0, 0.9);

    --theme-border: var(--theme-black-01);

    --round-sm: 4px;
    --round-md: 6px;

    --text-xl: 22px;
    --text-lg: 18px;
    --text-md: 16px;
    --text-sm: 14px;
    --text-xs: 12px;

    --pattern-dots-black-01: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");

    --pattern-diag-black-01: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");

    --pattern-diag-white-01: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23FFFFFF' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    --pattern-diag-white: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23FFFFFF' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

body {
    /* min-width: 300px; */
}

.main-content {
    color: var(--theme-black-06);
    top: 60px;
    margin-top: var(--header-height);
    padding: 10px;
    padding-right: 0;
    transition: margin-left 0.2s;
    min-width: 320px;

    flex-wrap: wrap;
    /* width: calc(100% - var(--sidebar-sm)); */
}

.main-content.small {
    margin-left: var(--sidebar-width);
}

.main-content.big {
    margin-left: var(--sidebar-sm);
}

.main-content .panel {
    background-color: white;
    border-radius: var(--round-sm);
    padding: 20px;
    box-shadow: inset 0 0 0 1px var(--theme-border);
    overflow: hidden;
    flex-grow: 1;
    margin: 0 10px 10px 0;
}

.main-content .panel + .panel {
    /* margin-left: 10px; */
}

.panel .panel-title {
    font-size: var(--text-lg);
    color: var(--theme-main);
    font-weight: bold;
}

hr {
    margin: 10px 0;
    height: 1px;
    border: none;
    background-color: var(--theme-main-02);
}

button:active {
    filter: brightness(0.8);
}

.spacer-20 {
    height: 20px;
    width: 20px;
}

.spacer-10 {
    height: 10px;
    width: 10px;
}

.text-bold {
    font-weight: bold;
}

.text-xl {
    font-size: var(--text-xl);
}

.text-lg {
    font-size: var(--text-lg);
}

.text-md {
    font-size: var(--text-md);
}

.text-sm {
    font-size: var(--text-sm);
}

.text-xs {
    font-size: var(--text-xs);
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flex {
    display: flex;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-no-shrink {
    flex-shrink: 0;
}

.flex-grow {
    flex-grow: 1;
}

.rounded {
    border-radius: 6px;
}

.rounded-full {
    border-radius: 9999px;
}

.shadow {
    box-shadow: 0 5px 20px 0  rgba(0, 0, 0, 0.1);
}

.divider-10 {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

.divider-20 {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.theme-text {
    color: #436c8e;
}

.gray-text {
    color: var(--theme-black-06);
}

.theme-text-carolina {
    color: #4B9CD3;
}

.theme-bg {
    background-color: #436c8e;
}

.theme-bg-carolina {
    background-color: #4B9CD3;
}

.theme-bg-green {
    background-color: #abcf57;
}

.theme-bg-red {
    background-color: #e64e4e;
}

.theme-button {
    color: white;
    background-color: #436c8e;
}

.theme-button:hover {
    background-color: #497fac;
}

.regular-button {
    background-color: rgba(0, 0, 0, 0.05);
}

.regular-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.regular-button:active {
    filter: brightness(0.8);
}

.inset-shadow {
    box-shadow: inset 0 0 0 1px var(--theme-black-01);
}